hise-test-example/src/main/resources/ExampleTasks.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
https://www.sdn.sap.com/irj/sdn/go/portal/prtroot/docs/library/uuid/a0c9ce4c-ee02-2a10-4b96-cb205464aa02

© 2007 Active Endpoints Inc., Adobe Systems Inc., BEA Systems Inc., International
Business Machines Corporation, Oracle Inc., and SAP AG. All rights reserved.
 -->
<wsdl:definitions name="ClaimApproval"
  targetNamespace="http://www.insurance.example.com/claims"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.insurance.example.com/claims"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
      targetNamespace="http://www.insurance.example.com/claims"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="http://www.insurance.example.com/claims">
        <xsd:complexType name="ClaimApprovalData">
          <xsd:sequence>
            <xsd:element name="cust">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="id" type="xsd:string">
                  </xsd:element>
                  <xsd:element name="firstname" type="xsd:string">
                  </xsd:element>
                  <xsd:element name="lastname" type="xsd:string">
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="amount" type="xsd:double" />
            <xsd:element name="region" type="xsd:string" />
            <xsd:element name="prio" type="xsd:int" />
            <xsd:element name="activateAt" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ClaimApprovalRequest">
    <wsdl:part name="ClaimApprovalRequest"
      type="tns:ClaimApprovalData" />
  </wsdl:message>
  <wsdl:message name="ClaimApprovalResponse">
  </wsdl:message>
  <wsdl:message name="ClaimResolveRequest">
    <wsdl:part name="ok" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="ClaimResolveResponse">
  </wsdl:message>
  <wsdl:message name="notifyRequest">
    <wsdl:part name="firstname" type="xsd:string" />
    <wsdl:part name="lastname" type="xsd:string" />
    <wsdl:part name="taskId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="notifyResponse"></wsdl:message>
  <wsdl:portType name="ClaimsHandlingPT">
    <wsdl:operation name="approve">
      <wsdl:input message="tns:ClaimApprovalRequest" />
      <wsdl:output message="tns:ClaimApprovalResponse" />
    </wsdl:operation>
    <wsdl:operation name="escalate">
      <wsdl:input message="tns:ClaimApprovalRequest" />
      <wsdl:output message="tns:ClaimApprovalResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClaimsResolvingPT">
    <wsdl:operation name="resolve">
      <wsdl:input message="tns:ClaimResolveRequest" />
      <wsdl:output message="tns:ClaimResolveResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClaimApprovalReminderPT">
    <wsdl:operation name="notify">
      <wsdl:input message="tns:notifyRequest" />
      <wsdl:output message="tns:notifyResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ClaimsHandlingBinding" type="tns:ClaimsHandlingPT">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="approve">
      <soap:operation soapAction="http://www.insurance.example.com/claims/approve" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.insurance.example.com/claims" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.insurance.example.com/claims" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="escalate">
      <soap:operation soapAction="http://www.insurance.example.com/claims/escalate" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.insurance.example.com/claims" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.insurance.example.com/claims" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimsHandlingService">
    <wsdl:port name="ClaimsHandlingPort" binding="tns:ClaimsHandlingBinding">
      <soap:address location="http://localhost:8090"/>
    </wsdl:port>
  </wsdl:service>

  <wsdl:binding name="ClaimsResolvingBinding" type="tns:ClaimsResolvingPT">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="resolve">
      <soap:operation soapAction="http://www.insurance.example.com/claims/approve" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.insurance.example.com/claims" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.insurance.example.com/claims" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimsResolvingService">
    <wsdl:port name="ClaimsResolvingPort" binding="tns:ClaimsResolvingBinding">
      <soap:address location="http://localhost:9999"/> <!--some non existing destination, since it has to be initialized from callback EPR -->
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
